.tourism-banner{
    background-image: url('../assets/img/tourism/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wellness-banner{
    @extend .tourism-banner;
    background-image: url('../assets/img/tourism/ayurveda.png');
    background-position: bottom;
}